.DS_Store
*.elf
*.nds
*.dsi
*.3dsx
*.cia
*.smdh
*.png
*.jpg
*.gif
*.exe
*.zip
*.bin
__pycache__
dist
forwarder/build
bootstrap/arm7/build
bootstrap/arm9/build
sd/arm7/build
sd/arm9/build
universal/data
universal/bootloader/build
generator/romfs/path.txt
generator/output
