.DS_Store
*.elf
*.nds
*.dsi
*.3dsx
*.cia
*.smdh
*.png
*.jpg
*.gif
*.exe
*.zip
*.bin
__pycache__
dist
build
universal/data
generator/romfs/path.txt
generator/output
bannertool*
makerom*
venv
